@import '../../../sass/base/variables';

.personal{
    background-color: white;
    animation-duration: 0.5s;
    animation-name: fade;

    @keyframes fade {
        from {
         opacity: 0%;
    
        }
      
        to {
          opacity: 100%;
        }
    }


    &__menu{
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu-item{
        padding: 11px 8px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 90px;
        width: 120px;
        background-color: rgb(225, 225, 225);
        // border: 1px solid white;
        border-radius: 15px;
        transition: 0.4s;
        &:first-child {
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            background-color: $main-color;
            box-shadow: -1px 1px 3px rgb(141, 141, 141);
            color: white;
            outline: none;
        }
    }
    &__item-pic {
        height: 35px;

    }
    &__item-title{
        font-size: 10px;
        line-height: 1.2;
        cursor: default;
    }
    &__line{
        width: 100%;
        height: 2px;
        background-color: $back-color;
    }
}

.profile{
    &__info{
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-top: 30px;
    }
    &__info-inner{
        display: flex;
        align-items: center;
    }
    &__name{
        font-size: 16px;
        font-weight: 700;
        margin-right: 9px;
    }
    &__usersymbol{
        font-size: 13px;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background-color: $back-color;
        padding: 1px;
        color: white;
        text-align: center;
        margin-right: 3px;
    }
    &__status{
        font-size: 8px;
        color: $medium-gray;
        margin-top: 7px;
    }
    &__phone{
        font-size: 14px;
    }
    &__wrapper{
        display: flex;
        justify-content: left;
        padding-bottom: 20px;
        padding-top: 25px;
        height: 408px;
    }
    &__col{
        display: flex;
        flex-direction: column;
    }
    &__block{
        background: linear-gradient(to right, rgb(243, 243, 243), rgb(225, 225, 225));
        width: 280px;
        margin-top: 10px;
        border-radius: 20px;
        padding: 10px 40px 25px 20px;
        transition: 0.5s;
        &:first-child{
            margin-top: 0;
        }
        &:hover{
            background: linear-gradient(to right, rgb(225, 225, 225), rgb(243, 243, 243));
        }
    }
    &__block-heading{
        font-size: 9px;
        color: $main-color;
        font-weight: 700;
    }
    &__block-content{
        font-size: 12px;
        margin-top: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__content-icon{
        margin-right: 15px;
        img{
            width: 30px;
        }
    }
    &__masseges{
        height: 100%;
        width: 500px;
        background: linear-gradient(to right, rgb(243, 243, 243), rgb(225, 225, 225));
        border-radius: 20px;
        padding: 10px 40px 25px 20px;
        margin-left: 50px;
        transition: 0.5s;
        &:hover{
            background: linear-gradient(to right, rgb(225, 225, 225), rgb(243, 243, 243));
        }
    }

}
@media (max-width: 1200px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
    .personal{
        &__menu{
            padding-top: 80px;
        }
        &__menu-item{
            padding: 6px 3px;
            margin: 3px;
            height: 76px;
            width: 70px;
            border-radius: 12px;
        }
        &__item-pic {
            height: 33px;  
        }
        &__item-title{
            font-size: 9px;
            }
        
    }
}
@media (max-width: 575px) {
    .personal{
        .container{
            padding-left: 10px;
            padding-right: 10px;
        }
        &__menu{
            padding-top: 80px;
        }
        &__menu-item{
            padding: 6px 3px;
            margin: 1px;
            height: 76px;
            width: 60px;
            border-radius: 10px;
        }
        &__item-pic {
            height: 27px;  
        }
        &__item-title{
            font-size: 7px;
            }
    } 

}