@import '../../../sass/base/variables';

.personal{
    background-color: rgb(229, 229, 229);
    animation-duration: 0.5s;
    animation-name: fade;

    @keyframes fade {
        from {
         opacity: 0%;
    
        }
      
        to {
          opacity: 100%;
        }
    }


    &__menu{
        padding-top: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__menu-item{
        padding: 11px 8px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 90px;
        width: 120px;
        border: 1px solid white;
        border-radius: 15px;
        transition: 0.4s;
        &:hover{
            background-color: $main-color;
            box-shadow: -1px 1px 3px rgb(141, 141, 141);
            color: white;
            outline: none;
        }
    }
    &__item-pic {
        height: 35px;

    }
    &__item-title{
        font-size: 10px;
        line-height: 1.2;
        cursor: default;
    }
}
@media (max-width: 1200px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
    .personal{
        &__menu{
            padding-top: 80px;
        }
        &__menu-item{
            padding: 6px 3px;
            margin: 3px;
            height: 76px;
            width: 70px;
            border-radius: 12px;
        }
        &__item-pic {
            height: 33px;  
        }
        &__item-title{
            font-size: 9px;
            }
        
    }
}
@media (max-width: 575px) {
    .personal{
        .container{
            padding-left: 10px;
            padding-right: 10px;
        }
        &__menu{
            padding-top: 80px;
        }
        &__menu-item{
            padding: 6px 3px;
            margin: 1px;
            height: 76px;
            width: 50px;
            border-radius: 10px;
        }
        &__item-pic {
            height: 27px;  
        }
        &__item-title{
            font-size: 7px;
            }
    } 

}