@import '../../../sass/base/variables';


.signs{
    background-color: #efefef;
    padding-bottom: 30px;
}
.order {
    min-height: 60vh;
    margin-left: 0;
    &__descr{
        margin-top: 20px;
    }
}
@media (max-width: 1200px) {
}
@media (max-width: 991px) {
    
}
@media (max-width: 767px) {
    .order {
        h3 {
            font-size: 19px;
        }
        &__descr{
            font-size: 13px;
        }
    }
}
@media (max-width: 575px) {
}