.depiction {

    background: #ededed;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 50px;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 666px;
    }
    &__card {
        height: 220px;
        width: 190px;
        background-color: white;
        border-radius: 28px;
        padding: 20px;
        margin-top: 40px;
        transition: 1s;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        }
    &__title {
        color:black;
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        line-height: 1;
        cursor: default;
    }
    &__button {
        height: 80px;
        width: 200px;
        background-color: $main-color;
        border-radius: 28px;
        margin-top: 10px;
        transition: 1s;
        border: none;
        &:hover {
            border: 1px solid $back-color;
            box-shadow: -1px 1px 3px rgb(141, 141, 141);
        }
        a {
            font-size: 20px;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 700;
            color: white;
            transition: 1s;
        }
    }
}

@media (max-width: 1200px) {
    .depiction {
        .container {
            flex-direction: column;
            padding-top: 30px;
            padding-bottom: 50px;
        }
        &__cards {
            justify-content: center;
        }
        &__card {
            margin: 7px;
        }
        &__img {
            img {
                max-height: 90px;
            }
        }
    }
}
@media (max-width: 991px) {

}
@media (max-width: 767px) {
    .depiction {
        &__title {
            font-size: 13px;
            text-align: center;
        }
        &__button{
            height: 110px;
            width: 200px;
            a{
                font-size: 17px;
            }
        }
    }
}
@media (max-width: 575px) {}
