$main-color: #00897B;
$back-color: #f1f1f1;
$yellow-color: #ffed00;
$medium-gray: #cacaca;
$main-shadow:-3px 3px 12px rgb(206, 206, 206);
$minor-shadow:-2px 1px 4px rgb(181, 181, 181);
$font-shadow:-2px 1px 4px rgba(0, 0, 0, 0.7);
