@import '../../../sass/base/variables';
p{
    margin-bottom: 0;
}
details{
    position: relative;
    // transition: all 0.3s;

    summary{
        cursor: pointer;
        list-style: none;
        position: relative;
        padding-left: 8px;
        transition: all 0.3s;

        // list-style:  url('../../../../public/icons/caret-down-fill.svg');
        // img{
        //     position: absolute;
        //     right: 5px;
        // }
        &:before{
            content: url('../../../../public/icons/caret-down-fill.svg');
            position: absolute;
            right: 5px;
            top: 2px;
            transition: all 0.3s;
            will-change: transform;
        }
    }
    &[open] > summary:before {
    transform: rotate(180deg);
    transform-origin: 50% 37% 0;
    }
    p{
        padding-top: 13px;
        padding-left: 8px;
    }
}
details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  
  @keyframes sweep {
    0%    {opacity: 0; transform: translateX(-10px)}
    100%  {opacity: 1; transform: translateX(0)}
  }

.help{
    .container{
        padding-top: 30px;
        padding-bottom: 20px;
    }

    &__heading{
        font-size: 15px;
        margin-bottom: 5px;
        text-align: center;
    }
    &__slogan{
        width: 100%;
        font-size: 13px;
        background-color: $back-color;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
   
}

.chat{
    width: 47%;
    height: 400px;
    background-color: $medium-gray;
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: $main-shadow;
    &__block-heading{
        display: flex;
        justify-content: space-between;
        padding: 10px 5px 5px 0px;
        position: relative;
        &-shadow{
            position: absolute;
            width: 100%;
            height: 12px;
            background-color: #000;
            background: linear-gradient(rgb(192, 192, 192), transparent);
            bottom: -12px;
            z-index: 0;
        }
    }
    &__block-title{
        font-size: 11px;
        color: $main-color;
        font-weight: 700;
        margin-left: 20px;
    }
    &__messages{
        // scroll settings
        height: 275px;
        font-size: 13px;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        padding: 2px 10px 2px 20px;
        margin-right: 5px;

        &::-webkit-scrollbar {
            width: 11px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgb(219, 219, 219);
            border-radius: 100px;
            margin: 12px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: white;
            border-radius: 100px;
            border: 3px solid white;
        }
    }
    &__message{
        border-radius: 25px;
        position: relative;
        padding: 10px 15px 25px 15px;
        margin: 10px 0 ;
        &-answer{
            background-color: $main-color;
            color: white;
            border-bottom-left-radius: 0;
            margin-right: 40px;
        }
        &-question{
            background-color: white;
            color: black;
            border-bottom-right-radius: 0;
            margin-left: 40px;
        }
        &-text{
            font-size: 13px;
        }
        &-time{
            position: absolute;
            font-size: 10px;
            font-weight: 500;
            color: $medium-gray;
            bottom: 2px;
            
            &-left{
                left: 10px;
            }

            &-right{
                right: 10px;
            }
        }
    }
    &__bottom{
        width: 100%;
        height: 92px;
        padding: 10px 0;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &-shadow{
            position: absolute;
            width: 100%;
            height: 12px;
            background-color: #000;
            background: linear-gradient(transparent, rgb(192, 192, 192));
            top: -12px;
        }
    }
    &__input-group{
        width: 100%;
        border-radius: 22px;
        border-bottom-right-radius: 0;
        padding: 8px;
        margin-left: 59px;
        margin-right: 25px;
        background-color: white;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:active{
            // border: 1px solid gray;
            box-shadow: inset 0px 0px 6px rgb(83, 83, 83);
        }
    }
    &__input-text{
        width: calc(100% - 73px);
        padding: 5px;
        box-shadow: none;
        font-size: 13px;
        line-height: 13px;
        resize: none;
        border: none;
        &:focus-visible{
            border: none;
            outline-style: none;
            cursor: auto;
        }
        &::-webkit-scrollbar {
            width: 11px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgb(228, 228, 228);
            border-radius: 100px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: $medium-gray;
            border-radius: 100px;
            border: 3px solid $medium-gray;
        }
    }
    &__send{
        height: 34px;
        width: 34px;
        border-radius: 17px;
        // border: 2px solid black;
        border: none;
        background-color: $medium-gray;
        box-shadow: 0px 0px 6px rgb(83, 83, 83);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.1s;
    }

}

.faq{
    width: 47%;
    height: 400px;
    background-color: $medium-gray;
    border-radius: 15px;
    transition: 0.5s;
    box-shadow: $main-shadow;
    &__block-heading{
        display: flex;
        justify-content: space-between;
        padding: 10px 5px 5px 0px;
        position: relative;
        &-shadow{
            position: absolute;
            width: 100%;
            height: 12px;
            background-color: #000;
            background: linear-gradient(rgb(192, 192, 192), transparent);
            bottom: -12px;
            z-index: 3;
        }
    }
    &__block-title{
        font-size: 11px;
        color: $main-color;
        font-weight: 700;
        margin-left: 20px;
    }
    &__content{
        padding: 17px 10px 17px 20px;
        height: 360px;
        font-size: 13px;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
        margin-right: 5px;

        &::-webkit-scrollbar {
            width: 11px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgb(219, 219, 219);
            border-radius: 100px;
            margin: 17px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: white;
            border-radius: 100px;
            border: 3px solid white;
        }
    }

    &__chapter{
        width: 100%;
        background-color: white;
        padding: 7px;
        border-radius: 15px;
        border-bottom-right-radius: 0;
        transition: 1s;
        margin-bottom: 10px;
    }
}


@media (max-width: 767px){
    .help{
        .container{
            padding-top: 20px;
        }
        &__wrap{
            flex-direction: column;
            justify-content: center;
        }
       
    }
    .chat{
        width: 100%;
        margin-bottom: 30px;
    }
    .faq{
        width: 100%;
    }
}