@import '../../../sass/base/variables';

.personal{
    background-color: white;
    animation-duration: 0.5s;
    animation-name: fade;

    @keyframes fade {
        from {
         opacity: 0%;
    
        }
      
        to {
          opacity: 100%;
        }
    }


    &__menu{
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu-item{
        padding: 11px 8px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 90px;
        width: 120px;
        background-color: rgb(225, 225, 225);
        border-radius: 15px;
        transition: 0.4s;
        cursor: pointer;
        &:first-child {
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            background-color: $medium-gray;
            box-shadow: $minor-shadow;
            outline: none;
        }
        &_active{
            background-color: $main-color;
            box-shadow:$main-shadow;
            color: white;
            outline: none;
            &:hover{
                background-color: $main-color;
                box-shadow:$main-shadow;
                color: white;
                outline: none;
            }
        }
    }
    &__item-pic {
        height: 35px;

    }
    &__item-title{
        font-size: 10px;
        line-height: 1.2;
        cursor: default;
    }
    &__line{
        width: 100%;
        height: 1px;
        background-color: $main-color;
    }
}

@media (max-width: 1200px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
    .personal{
        &__menu{
            padding-top: 80px;
            padding-bottom: 9px;
        }
        &__menu-item{
            padding: 6px 3px;
            margin: 3px;
            height: 76px;
            width: 70px;
            border-radius: 12px;
        }
        &__item-pic {
            height: 33px;  
        }
        &__item-title{
            font-size: 9px;
        }
    }
}
@media (max-width: 575px) {
    .personal{
        .container{
            padding-left: 10px;
            padding-right: 10px;
        }
        &__menu{
            padding-top: 80px;
        }
        &__menu-item{
            padding: 6px 3px;
            margin: 1px;
            height: 76px;
            width: 60px;
            border-radius: 10px;
        }
        &__item-pic {
            height: 36px;  
        }
        &__item-title{
            font-size: 7px;
            }
    }

}