.promo {
    height: 100vh;
    background-color: white;

}


.content {
    display: flex;
    align-items: center;
    max-width: 600px;
    padding-top: 160px;

    color: $main-color;
    &__title {
        text-transform: uppercase;
        font-size: 47px;
        font-weight: 700;
        cursor: default;
        z-index: 3;
    }
    &__subtitle {
        margin-top: 30px;
        font-size: 34px;
        cursor: default;
        z-index: 2;
    }
    &__img {
        z-index: 0;
        img {
            height: 390px;           
        }
    }
}