@import '../../../../sass/base/variables.scss';

.settings{
    &__group{
        width: 400px;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 0;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    &__form-control {
        margin-top: 0;
        font-size: 14px;
        border-radius: 24px;
        padding: 7px 15px;
        border: none;
        box-shadow: $main-shadow;
        background-color: #f7f7f7;
        margin-top: 1px;
        cursor: pointer;
        &:focus{
            outline: none;
            box-shadow: none;
            border: 1px solid $medium-gray;
        }
    }
    &__input_select{
        display: flex;
        flex-direction: column;
    }
    &__input_definition{
        font-size: 12px;
        margin-left: 15px;
        margin-right: 17px;
        margin-top: 12px;
    }
    &__btn{
        margin-top: 20px;
        font-size: 14px;
        border-radius: 24px;
        padding: 7px 15px;
        background-color: $main-color;
        color: white;
        border: none;
        box-shadow: $main-shadow;
    }
}

input{
    border: none;
    box-shadow: -1px 1px 3px rgb(141, 141, 141);
}

@media (max-width: 1200px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
    .settings{
        &__group{
            max-width: 400px;
            width: 80vw;
            padding-bottom: 25px;
        }
        &__form-control {
            font-size: 13px;
        }
        &__input_definition{
            margin-right: 0;
        }
    }
    
}
@media (max-width: 575px) {
}