@import '../../sass/base/variables';
@import '../../sass/base/base.scss';


.calculator{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0;
    padding-bottom: 30px;
    h3{
        font-size: 25px; 
    }

    &__group{
        display: flex;
    }

    &__input{
        width: 50%;
        padding-right: 2em;
        label{
            width: 186px;
        }
    }
    &__render{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        padding-left: 2em;   
        
        &_img{
            text-overflow: ellipsis;
            overflow: hidden;
            width: 140%;
        }
    }
    &__order-btn{
        margin-top: 30px;
    }
}

input{
    border: none;
    box-shadow: -1px 1px 3px rgb(141, 141, 141);
}

.input-group {
    label {
        background-color: $main-color;
        color: white;
        border-radius: 24px;
        border: none;
        box-shadow: -1px 1px 3px rgb(141, 141, 141);
    }
    select {
        border-radius: 24px;
        border: none;
        box-shadow: -1px 1px 3px rgb(141, 141, 141);
        &:focus {     
            outline-color: $main-color;
            border: 1px solid #737373;
        }
    }
}
.form-control {
    border-radius: 24px;
}

@media (max-width: 1200px) {
    .calculator{
        &__render{
            
            &_img{
                width: 115%;
            }
        }
    }
}
@media (max-width: 991px) {


    .input-group {
        label {
            width: 150px;
            font-size: 13px;
        }
        select {
            font-size: 13px;
        }
    }

}
@media (max-width: 767px) {
    .calculator{
        h3{
            font-size: 19px;
        }
        &__group{
            flex-direction: column;
        }
        &__input{
            width: 100%;
            padding-right: 0;
            margin: 0 auto;
        }
        &__render{
            margin-top: 30px;
            width: 100%;

            &_img{
                width: 100%;
            }
             
        }
    }
}
@media (max-width: 575px) {
}