@import '../../sass/base/variables';
@import '../../sass/base/mixins';


.hat{
    padding: 100px 0 40px 0;
    text-align: right;
    animation-duration: 0.5s;
    animation-name: fade;
    background-color: #efefef;
    
    @keyframes fade {
        from {
         opacity: 0%;
    
        }
      
        to {
          opacity: 100%;
        }
    }
    
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 2px solid rgb(255, 255, 255);
        width: 100%;
        margin: 0 auto;
    }

    &__buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button{
        padding: 1ch 1.1ch;
        margin: 0.5em;
        border-radius: 0.8em;
        border: 1px solid rgb(228, 228, 228);
        transition: 0.4s;
        font-size: 15px;
        box-shadow: $minor-shadow;
        &:hover{
            box-shadow: $main-shadow;
        }
        &_active {
            background-color: $main-color;
            border: 1px solid $main-color;
            color: white;
            outline: none;
            &:hover{
                box-shadow: $minor-shadow;
            }
            :active{
                outline: none;
            }
        }
    }
    &__title{
        color: $main-color;
        font-size: 2rem;
        font-weight: 700;
    }
}

@media (max-width: 1200px) {
}
@media (max-width: 991px) {
    .hat{
        &__button{
            font-size: 12px;
        }
    }
}
@media (max-width: 767px) {
    .hat{
        padding: 120px 10px 20px 10px;
        text-align: center;

        &__buttons {
            font-size: 11px;
        }
        &__header{
            flex-direction: column-reverse;
            align-items: center;
            margin-left: 14px;
        }
        &__title{
            margin-right: 0;
            font-size: 1.8rem;
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 575px) {
    .hat{
        padding: 100px 0 15px 0;
        &__header{
            flex-direction: column-reverse;
            align-items: center;
            border-bottom: 2px solid rgb(242, 242, 242);
            width: 100%;
            margin: 0 auto;
        }
    
        &__buttons{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        &__button{
            margin: 0.2em;
            font-size: 9.5px;
        }
        &__title{
            font-size: 1.5rem;
        }
    }
}