.server-message{
    position: fixed;
    padding: 10px 15px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vh;

    font-size: 15px;
    text-align: center;
    font-weight: 700;

    background-color: rgba(#8971B1, 0.8);
    color: white;
    border-radius: 10px;
    z-index: 1;
}