@import '../../sass/base/variables';


.signs{
    background-color: #efefef;
    .container{
        padding: 30px;
    }
}
.sign{
    text-align: left;
    &__header{
        font-size: 25px;
    }
    &__subheader {
        text-align: center;
    }
    &__block{
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        border-radius: 30px;
        padding: 30px;
    }
    &__group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.7em;
    }
    &__img{
        width: 45%;
        margin-right: 2em;
        img{
            width: 100%;
        }
    }
    &__descr{
        width: 55%;
    }
}

.calculator{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    text-align: left;
    height: 76vh;
    h3{
        font-size: 25px;     
    }

    &__group{
        display: flex;
        height: 60vh;
    }

    &__input{
        width: 50%;
        padding-right: 2em;
        label{
            width: 186px;
        }
    }
    &__render{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        padding-left: 2em;
            
    }
}

.order{
    margin-top: 2em;
    text-align: left;
    height: 76vh;
    h3{
        font-size: 25px;  
    }
}

@media (max-width: 1200px) {
    .sign{
        margin-left: 80px;
    }
}
@media (max-width: 991px) {
    .sign{
        &__group{
            flex-direction: column;
        }
        &__img{
            width: 100%;
            margin: 0;
        }
        &__descr{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 767px) {
    .sign{
        margin-left: 0;
    }
}
@media (max-width: 575px) {
}