@keyframes ldio-idsdkbt499 { 0% { transform: rotate(0) } 100% { transform: rotate(360deg); } }
.ldio-idsdkbt499 > div {
animation: ldio-idsdkbt499 1s infinite linear;
transform-origin: 100px 100px;
}
.ldio-idsdkbt499 > div div { position: absolute; }
.ldio-idsdkbt499 > div div:nth-child(1), .ldio-idsdkbt499 > div div:nth-child(2) {
width: 164px;
height: 164px;
border: 24px solid;
border-radius: 50%;
border-color: transparent #ffb6bb #ffb6bb #ffb6bb;
box-sizing: border-box;
position: absolute;
transform: rotate(45deg);
transform-origin: 100px 100px;
}
.ldio-idsdkbt499 > div div:nth-child(1) {
transform: rotate(45deg) translate(18px, 18px);
}
.ldio-idsdkbt499 > div div:nth-child(2) {
transform: rotate(0deg) translate(18px, 18px);;
}
.ldio-idsdkbt499 > div div:nth-child(3) {
width: 0;
height: 0;
border: 24px solid;
border-color: transparent transparent transparent #ffb6bb;
transform: translate(100px, 6px);
}
.loadingio-spinner-reload-rotmgzmdaor {
width: 200px;
height: 200px;
display: inline-block;
overflow: hidden;
}
.ldio-idsdkbt499 {
width: 100%;
height: 100%;
position: relative;
transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-idsdkbt499 div { box-sizing: content-box; }