@import '../../../sass/base/_variables.scss';

.menu {
    position: fixed;
    background-color: $back-color;
    width: 88px;
    height: 100vh;
    padding-top: 59px;
    z-index: 4;
    
    &__list {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
    }
  
    &__item{
      transition: 0.2s;
      padding: 10px 0 10px 0;
      span{
        color: #000000;
        font-size: 12px;
      }
      &:hover{
        background-color: #cecece;     
      }
    }
    
    &__link{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      list-style: none;
      img {
        width: 42px;
      }
    }
  }
  .wide{
    position: fixed;
    width: 180px;
    height: 100vh;
    background-color: white;
    padding-top: 59px;
    display: block;
    animation-duration: 0.3s;
    animation-name: slidein;
    z-index: 1;
    &__list{
      width: 169px;
      display: flex;
      flex-direction: column;
      padding-left: 0;
    }
    &__item{
      padding-left: 24px;
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid #f1f1f1;
      transition: 0.02s;
      &:last-child {
        border: none;
      }
      &:hover {
        width: 180px;
        background-color: #f1f1f1;
        &:last-child {
          border: none;
        }
      }
    }
    &__link{
      color: #000000;
      font-size: 12px;
      text-decoration: none;
      margin-top: 5px;
      &:hover {
        color: #000000;
        font-weight: 700;
      }
    }
    &__link-main{
      color: #000000;
      font-size: 17px;
      text-decoration: none;
      padding: 15px 0 15px 0;
      &:hover {
        color: #000000;
        font-weight: 700;
      }
    }
  }
  
  .hide{
    margin-left: -100%;
    animation-duration: 0.3s;
    animation-name: slideout;
    
    @keyframes slideout {
      from {
       margin-left: 0;
  
      }
    
      to {
        margin-left: -100%;
      }
    }
  }
  
  .show{
    display: block;
    animation-duration: 0.3s;
    animation-name: slidein;
    
    @keyframes slidein {
      from {
       margin-left: -100%;
  
      }
    
      to {
        margin-left: 0;
      }
    }
    
  }
  
  .body-blocked{
    position: fixed;
    overflow: hidden;
    top: 0;
  }
  
  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }